:root {
  /* ------------------------------------------------------------------------ */
  /*                               Configuration                              */
  /* ------------------------------------------------------------------------ */

  /* -------------------------------- Colors -------------------------------- */
  --color-bg-base: var(--color-colonial-1);
  --color-bg-primary: var(--color-blue-1);
  --color-bg-primary-hover: var(--color-blue-1-hover);
  --color-bg-secondary: var(--color-blue-2);

  --color-text-base: var(--color-gray-4);

  --color-success: #2a7e2e;
  --color-error: #d92525;
  --color-warning: #d92525;

  --color-colonial-1: #fdf0d5;
  --color-colonial-2: #e07016;

  --color-green-1: #06d6a0;
  --color-green-2: #a5dc86;

  --color-blue-1: #003049;
  --color-blue-1-hover: #e6eaec;
  --color-blue-2: #2b3b4e;
  --color-blue-3: #669bbc;
  --color-blue-4: #03a9f4;

  --color-gray-1: #d1d5db;
  --color-gray-2: #9e9e9e;
  --color-gray-3: #1f2937;
  --color-gray-4: #030712;

  /* --------------------------------- Fonts -------------------------------- */
  --base-font-family: sans-serif;
  --headers-font-family: serif;
  --base-font-lineheight: 1.5em;

  /* ------------------------------- Constants ------------------------------ */
  --height-cnt--btn-send: 3.4375rem;
}

/* ----------------------------- ATOMIC CLASSES ----------------------------- */
.cursor-pointer {
  cursor: pointer;
}

/* NORMALIZING HTML AND BODY */
html,
body {
  color: var(--color-text-base);
  font-family: var(--base-font-family);
  background-color: var(--color-bg-base);
  font-weight: 300;
  line-height: var(--base-font-lineheight);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  transition: all 0.2s ease;
}

h1 {
  font-size: 1.5rem;
  color: gray;
  margin-left: 32px;
}

label {
  color: #eeeeee;
}

input,
select {
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid white;
  margin: 0.625rem 0;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border: 0.125rem solid rgb(16, 182, 182);
  border-radius: 0.3125rem;
}

.cnt {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--color-gray-3);
  width: 20%;
  padding: 0.5% 1.5%;
  box-sizing: border-box;
  border-right: 0.0625rem solid slategrey;
}

@media (min-width: 48.0625rem) and (max-width: 64.0625rem) {
  .sidebar {
    width: 30%;
  }
}

@media (min-width: 64.0625rem) {
  .sidebar {
    width: 20%;
  }
}

.sidebar__sections-wrapper {
  width: 100%;
}

.sidebar__section {
  margin-bottom: 0.625rem;
}

.sidebar__section-heading {
  color: white;
  text-transform: capitalize;
  align-self: flex-start;
  padding: 0.625rem 0;
  position: relative;
}

.sidebar__section-heading::after {
  position: absolute;
  right: 0;
  bottom: 0.4375rem;
  content: "";
  height: 0.125rem;
  width: 100%;
  background-color: white;
  border-radius: 0.625rem;
}

.sidebar__input-double {
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  text-transform: capitalize;
}

.btn--add {
  background-color: var(--color-colonial-2);
  color: white;
  width: 100%;
  margin: 0.625rem 0;
}

.sidebar__select {
  width: 100%;
}

.url {
  margin-bottom: 0.9375rem;
}

.url-title {
  color: white;
  border-bottom: 0.0625rem solid white;
}

.url-detail {
  display: flex;
  align-items: center;
}

.url-input {
  width: 75%;
}

.url-button {
  width: 20%;
  height: 1.9375rem;
  margin-left: 0.9375rem;
  background-color: var(--color-colonial-2);
  color: white;
}

.btn-modal {
  width: 100%;
  margin-bottom: 0.625rem;
  font-size: 1.0625rem;
  background-color: teal;
  cursor: pointer;
}

.btn-modal--2 {
  background-color: steelblue;
}

.btn-modal--3 {
  background-color: lightseagreen;
}

.btn-modal--4 {
  background-color: cadetblue;
}
/* -------------------------------------------------------------------------- */

.sidebar--fields {
  width: 23%;
  background-color: var(--color-bg-secondary);
  position: relative;
}

@media (min-width: 48.0625rem) and (max-width: 64.0625rem) {
  .sidebar--fields {
    width: 30%;
  }
}

@media (min-width: 64.0625rem) {
  .sidebar--fields {
    width: 30%;
  }
}

.sidebar__section-heading--fields {
  color: var(--color-gray-1);
}

.sidebar__section-heading--fields::after {
  background-color: var(--color-gray-1);
}

.sidebar__section-heading--subfields {
  /* background-color: var(--color-gray-2); */
  padding: 3.2px 3.2px 3.2px 16px;
  margin-bottom: 8px;
  color: var(--color-colonial-1);
  font-weight: 400;
  text-transform: capitalize;
  align-self: flex-start;
  border-bottom: 0.0625rem solid slategray;
}

.sidebar__section_container {
  border: 0.0625rem solid slategray;
  border-radius: 8px;
  margin-bottom: 4.8px;
  padding: 8px;
}

.border-bottom {
  border-bottom: 0.0625rem solid slategray;
  margin-bottom: 8px;
}

.form--fields {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: var(--height-cnt--btn-send);

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.form--fields::-webkit-scrollbar {
  display: none;
}

.input-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label--big {
  font-size: 19.2px;
}

.cnt--btn-send {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: var(--color-bg-secondary);
  height: var(--height-cnt--btn-send);
  box-shadow: 0rem -0.3125rem 0.75rem 0rem var(--color-bg-secondary);
  overflow: hidden;
}

.btn--send {
  background-color: var(--color-blue-4);
  width: 80%;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 17.6px;
}

.response {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow-y: scroll; */
  /* width: min-content; */
  flex-grow: 1;
  /* padding: 0 1.25rem; */
  background-color: #272822;
}

@media (min-width: 48.0625rem) {
  .response {
    width: 60%;
  }
}

.response-detail {
  background-color: #272822;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  flex-grow: 1;
  margin: 1.875rem;
  border: 0.0625rem solid white;
  border-radius: 0.625rem;
  height: 90%;
}

.response-detail-title {
  color: white;
  background-color: #105a86;
  /* display: inline-block;
  width: 100%; */
  position: relative;
  margin: 0;
  padding: 0.625rem;
  font-size: 1.25rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

.response-detail-info {
  padding: 0 0.625rem;
  height: 100vh;
  overflow: scroll;
}

.success {
  border-radius: 0.625rem;
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(51, 169, 77); */
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  right: 3.4375rem;
  top: 2.8125rem;
  animation-name: success;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

@keyframes success {
  0% {
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: green;
  }
}

.fail {
  background-color: rgb(255, 255, 255);
  border-radius: 0.625rem;
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  right: 3.4375rem;
  top: 2.8125rem;
  animation-name: fail;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

@keyframes fail {
  0% {
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: red;
  }
  70% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.79);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.0625rem);
}

.modal-box {
  display: block;
  background: rgb(80, 80, 80, 0.5);
  width: 70%;
  height: 70%;
  padding: 16px;
  border-radius: 12.8px;
  overflow: visible;
  backdrop-filter: blur(0.625rem);
  border: 0.0625rem solid white;
  box-sizing: border-box;
}

.modal-content {
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.history-detail {
  display: flex;
  /* gap: 3.125rem; */
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.625rem;
}

.history-re {
  width: 50%;
  background-color: #030712;
}

.history-re-detail {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
}

.history-re-detail-title {
  display: flex;
  color: white;
  align-items: baseline;
}

.history-re-detail-collapse {
  padding-right: 40px;
}

.history-re-detail-button {
  margin-right: 40px;
  background-color: #2a7e2e;
  border: none;
  border-radius: 0.3125rem;
  color: white;
  padding: 0.3125rem 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  width: 4.875rem;
}

.history-re-detail-button-icon {
  width: 0.625rem;
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 0.3125rem;
}

.history-re-response-title {
  display: flex;
  align-items: center;
  padding-left: 0.9375rem;
}

.history-re-response-title-status {
  position: relative;
  bottom: 0.125rem;
}

.history-re-detail-complete {
  display: none;
}

.history-re-detail-complete[data-show="true"] {
  display: block;
}

.history-response {
  background-color: #272822;
}

.history-re-title {
  text-align: center;
  background-color: #11567b;
  width: 100%;
  border: solid 0.0625rem black;
  box-sizing: border-box;
  /* border-radius: .3125rem; */
  display: inline-block;
  color: white;
}

.modal-title {
  display: inline-block;
  background: rgba(0, 0, 0, 0.79);
  position: absolute;
  color: white;
  border: 0.0625rem solid white;
  box-sizing: border-box;
  top: -32px;
  right: 24px;
  padding: 16px;
  border-radius: 16px;
  backdrop-filter: blur(0.625rem);
}

.no-history {
  background-color: lightslategrey;
  font-size: 24px;
  margin: 15.625rem 0.625rem;
  display: flex;
  justify-content: center;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

/* ------------------------------- JSON Viewer ------------------------------ */
.cute-string {
  color: #f1fa8c;
}
.cute-number {
  color: #50fa7b;
}
.cute-boolean {
  color: #ff79c6;
}
.cute-function {
  color: #bd93f9;
}
.cute-null {
  color: #bd93f9;
}
.cute-undefined {
  color: #bd93f9;
}
.cute-key {
  color: #66d9ef;
  margin-right: 0.3125rem;
}
.cute-colon {
  color: #f8f8f2;
  margin-left: 0.0625rem;
}

.get-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4.8px 0;
  flex-flow: row wrap;
}

.get-values {
  display: flex;
}

.get-values span {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: var(--color-bg-base);
  padding: 3.2px;
  text-align: center;
}

.get-values span:nth-child(2) {
  background-color: var(--color-blue-4);
}

.get-values span:nth-child(3) {
  background-color: var(--color-colonial-2);
}

.get-values span.active {
  background-color: var(--color-success);
}

.multi-select__wrapper {
  position: relative;
}

.multi-select__field {
  background-color: white;
  min-height: 33px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid white;
  margin: 10px 0;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.multi-select__selected-item-wrapper {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.multi-select__icons-wrapper {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

.multi-select__arrow-icon-wrapper {
  display: flex;
  position: relative;
  transition: color 150ms ease 0s;
  color: var(--color-bg-primary);
  padding: 4px;
  box-sizing: border-box;
}

.multi-select__arrow-icon-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  background-color: var(--color-bg-primary);
  height: 100%;
}

.multi-select__arrow-icon {
  stroke-width: 0;
}

.multi-select__close-icon-wrapper {
  display: flex;
  transition: color 150ms ease 0s;
  color: var(--color-bg-primary);
  padding: 4px;
  box-sizing: border-box;
}

.multi-select__close-icon {
  stroke-width: 0;
}

.multi-select__selected-item {
  color: var(--color-bg-primary);
  display: flex;
  min-width: 0rem;
  background-color: var(--color-bg-primary-hover);
  border-radius: 0.125rem;
  margin: 0.125rem;
  box-sizing: border-box;
}

.multi-select__selected-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 85%;
  padding: 0 3px 0 6px;
  box-sizing: border-box;
  cursor: default;
}

.multi-select__selected-item-btn {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.multi-select__selected-item-btn:hover {
  background-color: var(--color-bg-primary);
  color: var(--color-bg-primary-hover);
}

.multi-select__options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: white;
  max-height: 175px;
  overflow-y: auto;
  box-shadow: -10px 10px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 0;
  border: 1.2px solid var(--color-gray-1);
}

.multi-select__option {
  position: relative;
  cursor: pointer;
}

.multi-select__option-label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: var(--color-text-base);
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.multi-select__option--no-option {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  color: var(--color-text-base);
}

.multi-select__option::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-gray-1);
}

.multi-select__option:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-gray-1);
}

.multi-select__option:hover {
  background-color: var(--color-gray-1);
}

.multi-select__option > input {
  cursor: pointer;
}
