.nvimlog
*/**/dump.rdb
*/**/build
node_modules/
dist/
declarations/
coverage/
logs/
*.log
*.tmp
*.bak
*.swp

.play

.DS_Store

playground/build/

/deno.lock
/settings.json
deno.lock
dump.rdb

# Test temporary files
tests/temp/
coverage/
developmentDocs
ignoreAssets
